body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAF3E1;

}

.topnav {
    overflow: hidden;
    background-color: #222222;


}

.nav-bar {
    position: sticky;
    top: 0;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 3rem;
}

.topnav a:hover {
    color: #FF6D1F;

}

.topnav a.active {
    color: #FF6D1F;
}

.topnav .icon {
    display: none;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../cotact-image/edited.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    max-width: 100%;
}

.content h1 {
    color: #ffffff;
    font-size: clamp(1rem, 7vw, 7rem);
    font-weight: 100;
    margin: 0;
    font-family: monospace;
    letter-spacing: 15px;
}

.contact-section {
    width: 90%;
    margin: 7rem auto;
    min-height: 35rem;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.image {
    width: 50%;
    height: 100%;

}

.image img {
    width: 35em;
    border-radius: 50%;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);

    height: 35em;
    object-fit: cover;
    object-position: top center;
}

.intro h1,
h2 {
    font-family: monospace;
    font-size: clamp(1rem, 7vw, 3rem);
    margin: 0;
    letter-spacing: 5px;
}

.intro {
    width: 40%;
    margin-left: 10px;

}

.intro p {
    margin-top: 40px;
    font:
        italic 1rem "Fira Sans",
        serif;

}

.contact-form {
    width: 90%;
    margin: 10rem auto;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dailog {
    width: 50%;
text-align: center;
font-size: clamp(1rem, 7vw, 4rem);
 color: #FF6D1F;
 font-family: 	"Copperplate";

}

.dailog h1 {
    margin: 0;
    font-weight: 800;
    
}

.form {
    width: 50%;
}

input[type=text],  select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email],  select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #FF6D1F;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #222222;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.footer {
    width: 100%;
    background-color: #222222;
    height: 70px;
}

.footer-icon {
    color: #ffffff;
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
}



/* media query code */

/* for mobiles */
@media (max-width: 768px) {

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav i {
        margin-right: 20px;
    }

    .image {
        width: 100%;
        margin-top: 30px;
    }

    .image img {
        width: 20rem;
        height: 20rem;

    }

    .intro {
        width: 100%;
        margin-left: 0;
    }

    .contact-section {
        flex-direction: column-reverse;
        /* Puts the text on TOP, Image on BOTTOM */
        height: auto;
        /* CRITICAL: Allows the box to grow to fit stacked items */
        text-align: center;
        /* Optional: Looks better on mobile */
        padding-bottom: 50px;
        /* Adds space at the bottom */
    }

    .contact-form {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -20px;
    }

    .dailog {
        width: 100%;
    }

    .form {
        width: 100%;
    }



}

/* for tablets */



@media (min-width: 769px) and (max-width: 1024px) {

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav i {
        margin-right: 40px;
    }

    .image {
        width: 100%;
        margin-top: 30px;
    }

    .image img {
        width: 20rem;
        height: 20rem;

    }

    .intro {
        width: 100%;
        margin-left: 0;
    }

    .contact-section {
        flex-direction: column-reverse;
        /* Puts the text on TOP, Image on BOTTOM */
        height: auto;
        /* CRITICAL: Allows the box to grow to fit stacked items */
        text-align: center;
        /* Optional: Looks better on mobile */
        padding-bottom: 50px;
        /* Adds space at the bottom */
    }

    .contact-form {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -20px;
    }

    .dailog {
        width: 100%;
    }

    .form {
        width: 100%;
    }

}