body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAF3E1;

}

.topnav {
    overflow: hidden;
    background-color: #222222;
    position: sticky;
    top: 0;

}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 3rem;
}

.topnav a:hover {
    color: #FF6D1F;

}

.topnav a.active {
    color: #FF6D1F;
}

.topnav .icon {
    display: none;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('cotact-image/edited.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    max-width: 100%;
}

.content h1 {
color: #ffffff;
 font-size: clamp(1rem, 7vw, 7rem);
     font-weight: 100;
     margin: 0;
     font-family: monospace;
     letter-spacing: 15px;
}

.contact-section {
    width: 90%;
    margin: 7rem auto;
    min-height: 35rem;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.image {
    width: 50%;
    height: 100%;

}

.image img {
width: 35em;
border-radius: 50%;
 box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);

height: 35em;
object-fit: cover;
object-position: top center;
}

.intro h1, h2 {
    font-family: monospace;
    font-size: clamp(1rem, 7vw, 3rem);
    margin: 0;
    letter-spacing: 5px;
}

.intro {
    width: 40%;
    margin-left: 10px;
    
}

.intro p {
    margin-top: 40px;
    font:
        italic 1rem "Fira Sans",
        serif;
        
}




/* media query code */

/* for mobiles */
@media (max-width: 768px) {

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

     .topnav i {
        margin-right: 20px;
    }

    .image {
        width: 100%;
        margin-top: 30px;
    }

    .image img {
        width: 20rem;
        height: 20rem;
        
    }

    .intro {
        width: 100%;
       margin-left: 0;
    }

    .contact-section {
        flex-direction: column-reverse; /* Puts the text on TOP, Image on BOTTOM */
        height: auto; /* CRITICAL: Allows the box to grow to fit stacked items */
        text-align: center; /* Optional: Looks better on mobile */
        padding-bottom: 50px; /* Adds space at the bottom */
    }

  

}

/* for tablets */



@media (min-width: 769px) and (max-width: 1024px) {

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav i {
        margin-right: 40px;
    }

    .image {
        width: 100%;
        margin-top: 30px;
    }

    .image img {
        width: 20rem;
        height: 20rem;
        
    }

    .intro {
        width: 100%;
       margin-left: 0;
    }

    .contact-section {
        flex-direction: column-reverse; /* Puts the text on TOP, Image on BOTTOM */
        height: auto; /* CRITICAL: Allows the box to grow to fit stacked items */
        text-align: center; /* Optional: Looks better on mobile */
        padding-bottom: 50px; /* Adds space at the bottom */
    }

}